@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  .background-container {
    left: -10rem;
    right: -10rem;
    background-size: cover;
    background-attachment: fixed;
  }
  .section__pic-container,
  .section__text {
    z-index: 2;
  }
  /* Adjusted styles from max-width: 600px for this size */
  .section__pic-container {
    width: auto;
    height: 40vw; /* Adjusted size */
    justify-content: center;
  }
  .title {
    font-size: 2.5rem; /* Adjusted size */
  }
  .text-container {
    text-align: justify;
  }
  #projects {
    justify-content: space-around; 
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .background-container {
    left: -7rem;
    right: -7rem;
    background-size: cover; /* Keep background size */
  }
  .section__pic-container,
  .section__text {
    z-index: 2;
  }
  /* Adjusted styles from max-width: 600px for this size */
  .section__pic-container {
    width: auto;
    height: 50vw; /* Adjusted size */
    justify-content: center;
  }
  .title {
    font-size: 2.25rem; /* Adjusted size */
  }
  .text-container {
    text-align: justify;
  }
  .project-item {
    flex: 1 1 45%; 
    margin: 10px;
  }

  .project-details-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    flex-direction: column;
    height: auto;
    margin-bottom: 0;
  }
  .profile-content {
    flex-direction: column;
    align-items: center;
  }
  #about {
    flex-direction: column;
    height: auto;
    gap: 2rem;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-pic {
    width: 100%;
    height: auto; 
    max-width: 400px;
  }

  .section__pic-container1 {
    width: 100%;
    height: auto;
  }

  .details-container {
    width: 100%;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .background-container {
    left: -5rem;
    right: -5rem;
    background-size: contain;
    background-attachment: scroll;
  }
  .section__pic-container,
  .section__text {
    z-index: 2;
  }
  .project-item {
    flex: 1 1 100%; 
    margin: 5px;
  }

  .project-details-container {
    grid-template-columns: 1fr;
  }
  #desktop-nav {
    justify-content: space-between;
    padding: 0 1rem;
  }

  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }

  .theme-toggle {
    display: flex; /* Ensure it's visible in mobile */
    align-items: center;
    height: auto;
  }

  #theme-icon {
    width: 1.5rem;  /* Adjust the size for mobile view */
    height: 1.5rem; /* Adjust the size for mobile view */
  }
}